<h1>TODAS AS POSTAGENS:</h1>
<form class="new-post" action="/cad" method="get">
  <button type="submit">NOVA POSTAGEM!</button>
</form>
<table class="table">
  <thead>
    <td>ID</td>
    <td>TITULO</td>
    <td>CONTEÚDO</td>
    <td>AÇÕES</td>
  </thead>
  <tbody>
    {{#each posts}}
    <tr>
      <td>{{id}}</td>
      <td>{{titulo}}</td>
      <td>{{conteudo}}</td>
      <td>
        <div class="grup-action">
          <form class="form-action" action="/edit/{{id}}" method="get">
            <button type="submit" class="action-edit">
              <i class="material-icons">EDITAR</i>
            </button>
          </form>
          <form class="form-action" action="/deletar/{{id}}" method="get">
            <button type="submit" class="action-delete">
              <i class="material-icons">APAGAR</i>
            </button>
          </form>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>